@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Raleway;
    src: url('/Fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: Comfortaa;
    src: url('/Fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf');
}